<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asset/style/reset.css">
    <link rel="stylesheet" href="/asset/style/common.css">
    <title>layout</title>
</head>
<body>
    <div class="wrap">
        <!-- <a href="#main_content">Skip to main content</a> -->
        <div class="headerArea">
            <header class="header">
                <h1 class="logo"><a href="/layout/layout_2.html"><img src="/asset/image/ico/logo.svg"></a></h1>
                <!-- <h2 class="title">메인</h2> -->
                <span class="tool">
                    <button class="btnIcon ico_writing"><span class="hiddenText">글쓰기</span></button>
                    <!-- <button class="btnIcon ico_setting"><span class="hiddenText">설정</span></button>
                    <button class="btnIcon ico_more"><span class="hiddenText">더보기</span></button>
                    <button class="btnText">임시저장</button> -->
                </span>
            </header>
            <!-- <header class="header left">
                <h2 class="title">왼쪽정렬 타이틀</h2>
                <span class="tool">
                    <button class="btnIcon"><span class="hiddenText">북마크</span></button>
                    <button class="btnIcon"><span class="hiddenText">설정</span></button>
                </span>
            </header> -->
            
        </div>
        <main id="main_content" class="content main">
            <div class="tabArea inline">
                <ul class="tab">
                    <li class="on">
                        <a href="/layout/layout_2.html"><span>메인</span></a>
                    </li>
                    <li>
                        <a href="/layout/layout.html"><span>레이아웃</span></a>
                    </li>
                    <li>
                        <a href="/guide.html"><span>가이드</span></a>
                    </li>
                </ul>
            </div>
            <div class="banner">
                <img src="../asset/image/temp/temp_banner.png" alt="">
            </div>
            <div class="project_list">
                <ul>
                    <li>
                        <div class="list_img">
                            <img src="../asset/image/temp/temp_project_list.jpg" alt="">
                        </div>
                        <div class="list_txt">
                            <div class="tagarea">
                                <span class="tag">태그</span>
                                <!-- <span class="tag red">태그</span>
                                <span class="tag blue">태그</span>
                                <span class="tag pink">태그</span>
                                <span class="tag yellow">태그</span>
                                <span class="tag emerald">태그</span> -->
                            </div>
                            <p>앱개발 초기 팀원 모집 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기</p>
                            <ul class="keyword_list">
                                <li><a href="#">#키워드</a></li>
                                <li><a href="#">#키워드</a></li>
                                <li><a href="#">#키워드</a></li>
                            </ul>
                            <div class="member_list">
                                <ul>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li class="ing">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                                <button type="button" class="btnIcon"><span class="hiddenText">추가하기</span></button>
                            </div>
                            <div class="status_list">
                                <span class="talk">5</span>
                                <span class="like">1</span>
                                <span class="member">1<span>/3</span>
                                <span class="status">모집중</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_img">
                            <img src="../asset/image/temp/temp_project_list.jpg" alt="">
                        </div>
                        <div class="list_txt">
                            <div class="tagarea">
                                <span class="tag">태그</span>
                                <!-- <span class="tag red">태그</span>
                                <span class="tag blue">태그</span>
                                <span class="tag pink">태그</span>
                                <span class="tag yellow">태그</span>
                                <span class="tag emerald">태그</span> -->
                            </div>
                            <p>앱개발 초기 팀원 모집 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기</p>
                            <ul class="keyword_list">
                                <li><a href="#">#키워드</a></li>
                                <li><a href="#">#키워드</a></li>
                                <li><a href="#">#키워드</a></li>
                            </ul>
                            <div class="member_list">
                                <ul>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li class="ing">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                                <button type="button" class="btnIcon"><span class="hiddenText">추가하기</span></button>
                            </div>
                            <div class="status_list">
                                <span class="talk">5</span>
                                <span class="like">1</span>
                                <span class="member">1<span>/3</span>
                                <span class="status ing">진행중</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_img">
                            <img src="../asset/image/temp/temp_project_list.jpg" alt="">
                        </div>
                        <div class="list_txt">
                            <div class="tagarea">
                                <span class="tag">태그</span>
                                <!-- <span class="tag red">태그</span>
                                <span class="tag blue">태그</span>
                                <span class="tag pink">태그</span>
                                <span class="tag yellow">태그</span>
                                <span class="tag emerald">태그</span> -->
                            </div>
                            <p>앱개발 초기 팀원 모집 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기 / 스터디가능 앱 개발 초기 팀원앱 개발 초기기</p>
                            <ul class="keyword_list">
                                <li><a href="#">#키워드</a></li>
                                <li><a href="#">#키워드</a></li>
                                <li><a href="#">#키워드</a></li>
                            </ul>
                            <div class="member_list">
                                <ul>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li class="ing">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                                <button type="button" class="btnIcon"><span class="hiddenText">추가하기</span></button>
                            </div>
                            <div class="status_list">
                                <span class="talk">5</span>
                                <span class="like">1</span>
                                <span class="member">1<span>/3</span>
                                <span class="status end">완료</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p>
                수 보이는 수 그러므로 피가 피고 자신과 것이다.보라, 어디 듣는다. 주며, 장식하는 없으면, 물방아 힘있다.
                능히 만물은 사라지지 찾아 운다. 그들의 예수는 과실이 피는 사랑의 있는 앞이 긴지라 있으랴? 군영과 두손을 커다란 것이다. 아니더면, 실현에 천지는 곧 힘차게 것이다. 
                않는 수 넣는 동산에는 보라. 기쁘며, 어디 날카로우나 현저하게 얼마나 우리 풀이 피어나기 부패뿐이다. 
                그러므로 인간은 반짝이는 뼈 살았으며, 보라. 품에 그러므로 얼음과 청춘의 인류의 가슴이 희망의 노래하며 듣는다. 
                얼마나 길지 위하여, 구하기 바이며, 가장 부패뿐이다. 동산에는 옷을 풍부하게 하였으며, 피다. 생생하며, 위하여 피가 이상의 하였으며, 끓는 되는 칼이다.
                공자는 천고에 오아이스도 보라. 가치를 속에 황금시대를 끓는 사라지지 길을 피고 아니더면, 봄바람이다.
                생명을 싹이 인간이 청춘은 미묘한 너의 그들의 원질이 이상, 부패뿐이다. 군영과 그들의 풍부하게 역사를 이것이다. 
                더운지라 살았으며, 구하기 있는 목숨을 위하여서 있음으로써 것이다. 
            </p>
            <p>
                원대하고, 인생을 길지 안고, 지혜는 어디 위하여서. 끝에 이 이상은 작고 있다. 착목한는 그들은 새가 그들의 약동하다. 같이, 이상, 청춘의 이는 청춘의 뜨거운지라, 굳세게 듣는다.
                위하여서, 앞이 것이다.보라, 청춘 봄바람이다. 기쁘며, 싶이 놀이 이성은 약동하다. 위하여, 날카로우나 심장의 우리 기관과 이것을 그들은 착목한는 살았으며, 약동하다. 봄날의 품고 고동을 인생에 황금시대다. 
                더운지라 곳으로 봄날의 끓는 부패뿐이다. 때까지 청춘의 듣기만 가는 그들의 곳으로 커다란 얼마나 낙원을 있다. 있는 곧 날카로우나 기관과 수 것이다. 
                청춘 부패를 인간이 커다란 이상은 아니다. 그들의 얼마나 평화스러운 보배를 고행을 설산에서 품고 우리 약동하다. 싶이 꽃이 굳세게 안고, 같이 뭇 우는 고동을 힘있다. 사는가 오직 보이는 힘차게 무엇을 만천하의 이것이다.
                하여도 노년에게서 그들에게 그들의 산야에 피다. 방지하는 평화스러운 천자만홍이 소리다.이것은 천지는 말이다. 
                따뜻한 이것은 장식하는 끓는다. 생명을 청춘은 광야에서 이상의 소담스러운 것이다. 
                우리는 인간의 능히 이상은 가는 인간에 가치를 크고 쓸쓸하랴? 그와 황금시대의 생명을 동력은 듣는다. 하였으며, 청춘은 많이 피어나기 같으며, 꽃 오직 황금시대를 것이다. 
                그러므로 인류의 없는 힘차게 가슴이 새 청춘이 운다. 품에 남는 인생에 청춘의 하는 더운지라 천하를 있으랴? 인간은 들어 우리는 곧 있는가?                
                청춘의 평화스러운 같은 품고 맺어, 되려니와, 위하여 청춘의 아름다우냐? 위하여, 위하여 바이며, 동산에는 능히 있는 칼이다. 
            </p>
        </main>
        <nav class="menu">
            <ul>
                <li class="on">
                    <a href="#"><span class="ico_home">홈</span></a>
                </li>
                <li>
                    <a href="#"><span class="ico_search">검색</span></a>
                </li>
                <li>
                    <a href="#"><span class="ico_alarm">알림</span></a>
                </li>
                <li>
                    <a href="#"><span class="ico_my">마이</span></a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>